<div class="visacounsellor-content-inner d-flex">
    <div class="container">
        <div class="d-flex mb-4">
            <img src="{{profileImage}}" width="100px" height="100px" alt="Avatar" class="profile-img" id="profile-image" style="height: 100px;">
            <div class="m-3">
                <h2 class="profile-title-name">{{user.fname}} {{user.lname}}</h2>
                <h5 class="profile-title-time">{{CurrentDate | date:'HH:mm'}} Local Time</h5>
            </div>
        </div>

    </div>
</div>